html {
    background-image: linear-gradient(225deg, rgba(255,255,255,0.55) 35%, hsla(192,0%,0%,0.4)),
    radial-gradient(center center, circle closest-side, #ffffff, #ddd);
    min-height:100%;
    font-family: 'Ubuntu', sans-serif;
}

#facebook-login-btb {
    position:absolute;
    font-size: 14px;
    text-align: center;
    top:50%;
    left:50%;
    margin-left:-75px;
    margin-top:-16px;
}

#facebook-login-btb span{
    font-weight:bold;
}

#facebook-login-btb a {
    text-shadow:0 0 2px rgba(0,0,0,0.3);
    background: linear-gradient(top,  rgba(131,155,195,1) 0%,rgba(87,111,163,1) 100%);
    border: 1px solid #566383;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #CADBFE inset, 0 3px 0 0 #2D447F, 0 4px 2px #999999;
    color: #FFFFFF;
    display: inline-block;
    line-height: 30px;
    height:30px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    top: -1px;
    transition-property:top, box-shadow;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: linear, linear;
    background: #2D447F;
}

#facebook-login-btb a:hover {
    background-image:linear-gradient(top,  rgba(139,161,199,1) 0%,rgba(96,119,170,1) 100%)
}

#facebook-login-btb a:active
{
    box-shadow: 0 1px 0 #cadbfe inset, 0 1px 0 0 #2d447f, 0 2px 2px #999999;
    top:2px;
}